body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
  margin: 0;
  padding: 0;
}
a {
  font-style: normal;
  color: currentColor;
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/* правило для усієї сторінки */
main {
  flex-grow: 1;
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* розмір кожної секції */
.container {
  max-width: 1159px;
  padding: 0 15px;
  margin: 0 auto;
}
/* #region header*/

.logo-top {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.span-top {
  color: #4d5ae5;
}
.nav {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.nav:hover,
.nav:focus,
.contact:hover,
.contact:focus {
  color: #404bbf;
}

.contact {
  color: #2e2f42;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* #endregion */

/* #region main-page */

.main-page {
  background-color: #2e2f42;
  height: 600px;
}
.main-title {
  width: 496px;
  height: 120px;
  margin-bottom: 48px;
  margin: 0 auto;
  color: white;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}
.button {
  padding: 16px 32px;
  border: none;
}
.button {
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region benefits */
.benefits {
  color: #2e2f42;
  margin-top: 120px;
  margin-bottom: 120px;
}
.list-ben {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.item-ben {
  max-width: 264px;
  background-color: #fff;
}
.title-ben {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.text-ben {
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* #endregion benefits */

/* #region team */
.team {
  background-color: #f4f4fd;
  color: #2e2f42;
}
.title-team {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.title-team-list {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.text-team-list {
  line-height: 24px;
  letter-spacing: 0.32px;
}

.team-list {
  background-color: #ffffff;
}
/* #endregion team */

/* #region portfolio */

.list-port {
  color: #2e2f42;
}
.title-port {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.title-port-list {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.text-port-list {
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* #endregion portfolio */

/* #region footer */
.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}
.footer-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.span-footer {
  color: #4d5ae5;
}
.footer-text {
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* #endregion footer */
